.bar-wrapper {
  width: 50%;
  height: 100%;
  padding: 2em;
}

.skill-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.skill-wrap .card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.skill-wrap .card-wrap {
  width: 100%;
  height: 29.3333%;
  margin: 3em;
}
.skill-wrap .card-wrap:hover .sub-title {
  transition: all .5s;
  transform: scale(1.1);
  color: #feffff;
}
.card-wrap .sub-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #254e58;
}

.skill-wrap .title-wrap {
  font-size: 2em;
  color: #feffff;
  font-weight: bolder;
}
.skill-wrap .lang-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.skill-wrap .lang-wrap {
  width: 100%;
  height: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang-wrap .lang-img {
  max-width: 40px;
}
.lang-img img {
  width: 100%;
}
/* .lang-img img:hover {
  transition: all .5s;
  transform: scale(1.2);
} */
.lang-wrap .probar{
  width: 100%;
}


@media screen and (max-width: 768px) {
  
}