.port-wrapper {
  background-color: #9bbfc7;
  width: 100%;
  padding: 3em;
}
.port-wrapper .title {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: #254e58;
  margin-bottom: 1em;
}

.port-wrapper .port-wrap {
  width: 90%;
  height: 100%;
  margin-left: auto;
  padding: 1em;
}
