.port {
  position: relative;
  display: inline-block;
  width: 31.3333%;
  margin: 1%;
  padding: .5em;
  background-color: #feffff;
  border-radius: 5px;
  overflow: hidden;
}

.port .img-wrapper {
  width: 100%;
}
.img-wrapper img {
  width: 100%;
  filter: grayscale(20%);
}

.port .article-wrapper {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.article-wrapper > * {
  margin: .5em 0;
  text-align: center;
}
.article-wrapper .subject {
  font-size: 1.875em;
  font-weight: bold;
}
.article-wrapper > h5.title {
  font-size: 1.25em;
  font-weight: bold;
}

.article-wrap .badge-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.article-wrapper .badge-wrapper > * {
  margin: 0 1%;
}
.bt-wrapper .bt-visit {
  margin: 0 1%;
  padding: .5em .75em;
  background-color: #2b7a78;
  border-radius: 5px;
  color: #feffff;
}
.bt-wrapper .bt-visit:hover {
  transition: all .5s;
  transform: scale(1.1);
  background-color: #3ca7a4;
}

