.side-wrapper {
  position: fixed;
  width: 10%;
  height: 90vh;
  padding: 1em;
  bottom: 0;
  color: #2b7a78;
}

.bar {
  width: 1px;
  height: 100%;
  border-left: 2px solid #2b7a78;
}

.box {
  position: relative;
  width: 50px;
  height: 20%;
  border-bottom: 2px solid #2b7a78;
  text-align: center;
  font-weight: bold;
}
.title {
  position: absolute;
  bottom: 0;
}

.title.active .box {
  background-color: #def2f1;
}