.side-wrapper {
  position: fixed;
  width: 10%;
  height: 90vh;
  padding: 3em;
  bottom: 0;
  color: #2b7a78;
  z-index: 99;
}

.side-wrapper .bar {
  width: 1px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.side-wrapper .box {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #2b7a78;
  border-radius: 50%;
  text-align: left;
  font-weight: bold;
}
.side-wrapper .title {
  position: absolute;
  bottom: -40%;
  left: 150%;
  padding: .5em;
  cursor: pointer;
}

.side-wrapper .title.active .box {
  background-color: #def2f1;
}