.skill-container {
	width: 100%;
	padding: 3em;
	background-color: #def2f1;
	color: #254e58;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.skill-container .title-wrap {
	font-size: 3em;
	text-align: center;
	font-weight: bolder;
	margin-bottom: 2em;
}
.skill-wrap {
  width: 100%;
  display: flex;
}

.skill-wrap .card-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.skill-wrap .card-wrap {
  width: 100%;
}
.card-wrap .sub-title {
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  color: #508886;
  margin-bottom: 2em;
}
.skill-wrap .lang-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 6em;
}
.skill-wrap .lang-wrap {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 1px solid #bbb;
}
.lang-wrap .lang-img {
  max-width: 60px;
}
.lang-img img {
  width: 100%;
}
.lang-wrap .skill-desc {
  margin-top: .5em;
  font-weight: bold;
  line-height: 1.5;
}


@media screen and (max-width: 992px) {
  .skill-container {padding: 3em 1em}
  .skill-wrap .lang-wrapper {width: 100%;}
  .skill-wrap .lang-wrap {width: 31.3333%; padding: 2%;}
}