.navi-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  .navi-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #f0f0f0;
    font-weight: bold;
    .navi{
      font-size: 1.25em;
      cursor: pointer;
    }
    .navi:not(:last-child) {
      margin-right: 1.5em;
    }
  }
}